<div style="direction:rtl; text-align:right">

# المشروع الأول: قصة التايتانك بعيون علم البيانات

<div style="direction:rtl; text-align:right">
أهلاً بكم في المشروع الأول من علم البيانات. في هذا المشروع، سنكتشف سوية قصة التايتانك ولكن من خلال البيانات. يهدف هذا المشروع إلى التعريف بأهم خطوات تحليل البيانات واستكشاف المراحل المختلفة. سنستخدم بيانات الناجين من سفينة التايتنك والموجودة في موقع كاقل على الرابط التالي: https://www.kaggle.com/c/titanic

<div style="direction:rtl; text-align:right">
الهدف الأساسي من هذا المشروع هو استخدام هذه البيانات لفهم من هم الناجين من كارثة التايتانك؟ هل الناجين يمثلون عينة عشوائية أم أنهم من طبقات معينة؟ وكيف يمكن مقارنة الناجين بباقي المسافرين في التايتانك؟ وما إلى ذلك من أسئلة.

<div style="direction:rtl; text-align:right">
ملاحظة: لإكمال هذا المشروع، عليك تعديل الخانات التي يوجد فيها الكود أدناه قبل تسليم المشروع. جميع الخانات الأخرى يجب ان تبقى كما هي بدون أي 
تعديل.

```
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################
```

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

<div style="direction:rtl; text-align:right">

# قراءة البيانات

<div style="direction:rtl; text-align:right">
سنقوم أولاً باستخدام pd.read_csv لقراءة البيانات:

In [25]:
data = pd.read_csv('titanic.csv')

<div style="direction:rtl; text-align:right">
بعد أن قرأنا البيانات، سنقوم الآن باستعراض البيانات حتى نتأكد من قراءتها بشكل صحيح وذلك باستخدام الأمرين: head و info.

In [26]:
#لطباعة رأس الجدول نقوم باستخدام الأمر head
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

<div style="direction:rtl; text-align:right">
سنقوم الآن بطباعة بعض المعلومات الأساسية عن البيانات. في الخانة التالية، استخدم مخرجات الخانة السابقة (info) للإجابة عن الأسئلة مثل عدد الصفوف وعدد الأعمدة.

In [28]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

# كم عدد الصفوف ؟
nrows = 891
# كم عدد الأعمدة ؟
ncols = 12
# كم عدد الأعمدة الرقمية ؟ كم عدد الأعمدة الوصفية ؟
n_num_cols = 7
n_str_cols = 5

In [29]:
print('There are {0} rows and {1} columns in this dataset.'.format(nrows, ncols))
print('Of those columns, there are {0} numerical columns and {1} categorical columns.'.format(n_num_cols, n_str_cols))

There are 891 rows and 12 columns in this dataset.
Of those columns, there are 7 numerical columns and 5 categorical columns.

<div style="direction:rtl; text-align:right">
قم باستخدام مخرجات الأمر info مرة أخرى لمعرفة الأعمدة التي يوجد بها خانات فارغة وكم بكتابة أسماء الأعمدة في الخانة التالية.

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [31]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

# Look at the outputs at `data.info()` again..
# Which columns have missing values ?
# replace the empty list below with column names that have missing values
# for example: ['Name', 'Fare', 'Sex']

cols_with_missing_vals = ['Age', 'Cabin', 'Embarked']

In [9]:
print('The following columns have missing values: {0}'.format(cols_with_missing_vals))

The following columns have missing values: ['Age', 'Cabin', 'Embarked']

<div style="direction:rtl; text-align:right">

# تنظيف البيانات

<div style="direction:rtl; text-align:right">
سنقوم الآن بتنظيف البيانات. سنقوم أولاً بحذف الأعمدة التي لانحتاجها مثل PassengerId:

In [32]:
# delete 'PassengerId' column, using 'drop' command ; don't forget to include `inplace=True`
data.drop(columns='PassengerId', inplace=True)

<div style="direction:rtl; text-align:right">
سنقوم بتكرار نفس الأمر مع أعمدة Name و Ticket:

In [33]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

# drop the columns `Name` and `Ticket` as well the same way
# data.____(__________)
data.drop(columns=['Name', 'Ticket'], inplace=True)

In [41]:
final_column_set = data.columns.tolist()
print(final_column_set)

['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']

In [85]:
# We can print all values of Age using this command:
age_vals = data['Age'].values

# Print first ten values
print('First ten values:')
print(age_vals[:10])

# Delete nan values from age_vals list
age_vals = [age for age in age_vals if str(age) != 'nan']

First ten values:
[22.         38.         26.         35.         35.         29.69911765
 54.          2.         27.         14.        ]

<div style="direction:rtl; text-align:right">
للتأكد من أننا حصلنا على قيم العمر في مصفوفة، قم بإنشاء خانة جديدة وكتابة age_vals لطباعة المصفوفة..

In [86]:
# Print first ten values
print('Again print ten values:')
print(age_vals[:10])

Again print ten values:
[22.0, 38.0, 26.0, 35.0, 35.0, 29.69911764705882, 54.0, 2.0, 27.0, 14.0]

<div style="direction:rtl; text-align:right">
في الخانة التالية، سنقوم بحساب متوسط العمر باستخدام numpy وذلك حتى نقوم باستخدام هذا الرقم لملء الخانات المفقودة في العمر.

In [87]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

# here, print the command that extracts the mean age using numpy: 
mean_age = np.array(age_vals).mean()
print(mean_age)

29.69911764705882

In [88]:
assert np.allclose(mean_age, 29.69911764705882), 'You did not calculate the mean age correctly.'
print('OK!')

OK!

In [89]:
# Now, we will use the average age to fill in all missing values
data['Age'].fillna( mean_age, inplace=True)

<div style="direction:rtl; text-align:right">

# تحليل البيانات الاستكشافي

<div style="direction:rtl; text-align:right">
سنقوم الآن بتحليل البيانات الاستكشافي وهي عملية نقوم فيها بالتعرف على بعض الإحصائيات عن الأعمدة المختلفة

In [90]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

<div style="direction:rtl; text-align:right">
فمثلا: ماهي نسبة الناجين إلى مجموع المسافرين؟ نقوم باستخدام value_counts لحساب عدد الصفوف التي تحمل قيمة محددة:

In [95]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

<div style="direction:rtl; text-align:right">
قم بحساب نسبة الناجين بناء على الخانة السابقة:

In [144]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

len_data = data.shape[0]
survived_percentage = (data['Survived'].value_counts()[1]/len_data) * 100

In [145]:
print('About {0}% of people in this dataset have survived'.format(np.round(survived_percentage, 2)))

About 38.38% of people in this dataset have survived

<div style="direction:rtl; text-align:right">
ونستطيع فعل الأمر مع الأعمدة المختلفة:

In [133]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [140]:
pclass_1 = (data['Pclass'].value_counts()[1]/len_data)*100
print('Ticket class of 1st: ', pclass_1)

pclass_2 = (data['Pclass'].value_counts()[2]/len_data)*100
print('Ticket class of 2nd: ', pclass_2)

pclass_3 = (data['Pclass'].value_counts()[3]/len_data)*100
print('Ticket class of 3rd: ', pclass_3)

Ticket class of 1st:  24.242424242424242
Ticket class of 2nd:  20.65095398428732
Ticket class of 3rd:  55.106621773288445

In [146]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [149]:
print('Male: ', (data['Sex'].value_counts()[0]/len_data)*100)
print('Female: ', (data['Sex'].value_counts()[1]/len_data)*100)

Male:  64.75869809203144
Female:  35.24130190796858

In [114]:
data['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [151]:
print('Parch 0: ', (data['Parch'].value_counts()[0]/len_data)*100)
print('Parch 1: ', (data['Parch'].value_counts()[1]/len_data)*100)
print('Parch 2: ', (data['Parch'].value_counts()[2]/len_data)*100)
print('Parch 5: ', (data['Parch'].value_counts()[3]/len_data)*100)
print('Parch 3: ', (data['Parch'].value_counts()[4]/len_data)*100)
print('Parch 4: ', (data['Parch'].value_counts()[5]/len_data)*100)
print('Parch 6: ', (data['Parch'].value_counts()[6]/len_data)*100)

Parch 0:  76.0942760942761
Parch 1:  13.243546576879911
Parch 2:  8.978675645342312
Parch 5:  0.5611672278338945
Parch 3:  0.44893378226711567
Parch 4:  0.5611672278338945
Parch 6:  0.11223344556677892

In [115]:
data['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [155]:
print('S: Southampton: ', (data['Embarked'].value_counts()[0]/len_data)*100)
print('C: Cherbourg: ', (data['Embarked'].value_counts()[1]/len_data)*100)
print('Q: Queenstown: ', (data['Embarked'].value_counts()[2]/len_data)*100)

S: Southampton:  72.27833894500561
C: Cherbourg:  18.855218855218855
Q: Queenstown:  8.641975308641975

<div style="direction:rtl; text-align:right">
قم الآن بحساب نسبة الإناث الناجيات من إجمالي عدد الناجيين في الخانة التالية:

In [167]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL

female_survived_num = len(data.query('Sex == "female" and Survived == 1'))

female_survived_percentage = (female_survived_num/data['Survived'].value_counts()[1])*100
female_survived_percentage

68.12865497076024

<div style="direction:rtl; text-align:right">

# معلومات بغرض التصحيح

In [168]:
print('nrows={}\nncols={}\nn_num_cols={}\nn_str_cols={}\nfinal_column_set={}\ncols_with_missing_vals={}\nmean_age={}\nsurvived_percentage={}\nfemale_survived_percentage={}'.format(
nrows,
ncols,
n_num_cols,
n_str_cols,
final_column_set,
cols_with_missing_vals,
mean_age,
survived_percentage,
female_survived_percentage
))

nrows=891
ncols=12
n_num_cols=7
n_str_cols=5
final_column_set=['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']
cols_with_missing_vals=['Age', 'Cabin', 'Embarked']
mean_age=29.69911764705882
survived_percentage=38.38383838383838
female_survived_percentage=68.12865497076024

<div style="direction:rtl; text-align:right">
والآن يمكنك القيام بتسليم المشروع.

<div style="direction:rtl; text-align:right">
هذه لم تكن سوى جولة سريعة للتعرف على بيانات التايتانك بشكل سريع. بالطبع، إذا كنت تريد اكتشاف المزيد مما يمكن فعله بهذه البيانات فهناك عدد هائل من الدروس على الانترنت ندعوكم للاطلاع عليها مثل هذا الدرس:

- https://www.kaggle.com/sherylee/a-comprehensive-ml-workflow-with-python